.container {
  background             : rgba(173, 149, 168, 0.25);
  box-shadow             : 0 8px 32px 0 rgba(31, 38, 135, 0.37);
  backdrop-filter        : blur(4px);
  -webkit-backdrop-filter: blur(4px);

  width  : 100vw;
  height : 100vh;
  display: flex;
  padding: 0 2% 0 2%;
}

.left {
  width           : 80%;
  background-color: transparent;
  height          : 100%;
  border-right    : solid 2px rgba(168, 147, 163, 0.2);
}

.right {
  width : 20%;
  height: 100%;
}

.header {
  height          : var(--header-height, 15%);
  background-color: transparent;
  display         : flex;
  margin-top      : 2vh;
}

.body {
  height          : calc(100% - calc(var(--header-height, 15%) + 2vh));
  background-color: transparent;
  display         : flex;
  padding-bottom  : 2vh;
}

.searchBar {
  padding-right: 2%;
  margin-left  : auto;
  width        : 40%;
  ;
}